In [668]:
import sqlite3 as db
import pandas as pd
#import featuretools as ft
import json

<center><h2><b>Leer DB</b></h2></center>

In [669]:
# Hacer una query SQL
def sql_query(q):
    conn = db.connect('../db/sqlite/eicu_v2_0_1.sqlite3/eicu_v2_0_1.sqlite3')
    df = pd.read_sql_query(q, conn)
    conn.close()
    
    return df

# Leer todos los CSV
def read_csvs():
    #import os
    #print( os.getcwd())
    datasets = [ 'admissiondrug', 'admissionDx', 'allergy', 'apacheApsVar', 'apachePatientResult', 'apachePredVar', 'carePlanCareProvider', 'carePlanEOL', 'carePlanGeneral',
                 'carePlanGoal', 'carePlanInfectiousDisease', 'customLab', 'diagnosis', 'hospital', 'infusiondrug', 'intakeOutput', 'lab', 'medication', 'microLab', 'note',
                 'nurseAssessment', 'nurseCare', 'nurseCharting', 'pastHistory', 'patient', 'physicalExam', 'respiratoryCare', 'respiratoryCharting', 'treatment', 'vitalAperiodic',
                 'vitalPeriodic']

    dfs = {}

    for ds_name in datasets:
        dfs[ds_name] = pd.read_csv('../db/csv/' + ds_name + '.csv')
    
    return dfs

dfs = read_csvs()
has_dropped_keys = False # Para que no se droppeen cada vez que se ejecuta la celda siguiente

C:\Users\aleja\AppData\Local\Temp\ipykernel_6560\759616273.py:21: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs[ds_name] = pd.read_csv('../db/csv/' + ds_name + '.csv')

In [670]:
# Dropear IDs de todas las tablas (primera columna)
def drop_keys(dfs):
    for df_key in dfs.keys():
        if df_key not in ('hospital', 'patient'): # No dropear hospitalId o patientUnitStayId
            df = dfs[df_key]
            dfs[df_key] = df.drop(columns=[df.columns.values[0]])

if not has_dropped_keys:
    drop_keys(dfs)
    has_dropped_keys = True

<center><h2><b>admissionDx</b></h2></center>

In [671]:
# TODO: ? Posiblemente dropear en virtud de patient.apacheAdmissionDx

dfs['admissionDx']

,patientunitstayid,admitdxenteredoffset,admitdxpath,admitdxname,admitdxtext
0,2900423,162,admission diagnosis|Non-operative Organ Systems|Organ System|Cardiovascular,Cardiovascular,Cardiovascular
1,2900423,162,admission diagnosis|Was the patient admitted from the O.R. or went to the O.R. within 4 hours of admission?|No,No,No
2,2900423,162,"admission diagnosis|All Diagnosis|Non-operative|Diagnosis|Cardiovascular|Sepsis, pulmonary","Sepsis, pulmonary","Sepsis, pulmonary"
3,2902156,944,"admission diagnosis|All Diagnosis|Non-operative|Diagnosis|Cardiovascular|Rhythm disturbance (atrial, supraventricular)","Rhythm disturbance (atrial, supraventricular)","Rhythm disturbance (atrial, supraventricular)"
4,2902156,944,admission diagnosis|Non-operative Organ Systems|Organ System|Cardiovascular,Cardiovascular,Cardiovascular
...,...,...,...,...,...
7573,2898513,50,"admission diagnosis|All Diagnosis|Non-operative|Diagnosis|Gastrointestinal|Encephalopathy, hepatic","Encephalopathy, hepatic","Encephalopathy, hepatic"
7574,2899929,11,admission diagnosis|Was the patient admitted from the O.R. or went to the O.R. within 4 hours of admission?|Yes,Yes,Yes
7575,2899929,11,admission diagnosis|Elective|Yes,Yes,Yes
7576,2899929,11,"admission diagnosis|All Diagnosis|Operative|Diagnosis|Genitourinary|TURP, transurethral prostate resection for benign prostatic hypertrophy","TURP, transurethral prostate resection for benign prostatic hypertrophy","TURP, transurethral prostate resection for benign prostatic hypertrophy"
7577,2899929,11,admission diagnosis|Operative Organ Systems|Organ System|Genitourinary,Genitourinary,Genitourinary

In [672]:
# Drop columns
dfs['admissionDx'] = dfs['admissionDx'].drop(columns=[
    'admitdxtext', # En la gran mayoría de los casos es igual a admitdxname
], axis=1)

In [673]:
#
# Nota: Es una mierda porque tiene mucho más sentido con onehot, pero hay un huevo de diagnósticos y como 10~20 notas adicionales
# TODO: diag1 = 4 ??
#

# admitdxpath - admitdxname: Cada patientunistayid tiene n filas relacionadas con todos las diagnosis encontradas.
def parse_admitdx(group):
    pusID, group_df = group
    diagnosis = []
    additionalinfo = []
    
    for i, row in group_df.iterrows():
        if row['admitdxname'] in ('No', 'Yes'):
            path_parts = row['admitdxpath'].split('|')
            mode = path_parts[-2]
            
            additionalinfo.append(mode + ' ' + row['admitdxname'])
        else:
            diagnosis.append(row['admitdxname'])
            
    # Rellenar 3 huecos en diagnosis y 2 en additionalinfo
    diagnosis = (sorted(diagnosis) + ['No' for _ in range(3)])[:3]
    additionalinfo = (sorted(additionalinfo) + ['No' for _ in range(3)])[:3]
    
    return [pusID] + diagnosis + additionalinfo

new_df = pd.DataFrame(columns=['patientunitstayid', 'diag1', 'diag2', 'diag3', 'additional1', 'additional2', 'additional3'])
for i,  group in enumerate(dfs['admissionDx'].groupby('patientunitstayid')):
    row = parse_admitdx(group)
    new_df.loc[i] = row

new_df

,patientunitstayid,diag1,diag2,diag3,additional1,additional2,additional3
0,141765,Cardiovascular,"Rhythm disturbance (atrial, supraventricular)",No,Was the patient admitted from the O.R. or went to the O.R. within 4 hours of admission? No,No,No
1,143870,Cardiovascular,"Endarterectomy, carotid",No,Elective No,Was the patient admitted from the O.R. or went to the O.R. within 4 hours of admission? Yes,No
2,144815,Neurologic,"Overdose, other toxin, poison or drug",No,Was the patient admitted from the O.R. or went to the O.R. within 4 hours of admission? No,No,No
3,145427,"GI perforation/rupture, surgery for",Gastrointestinal,No,Elective No,Was the patient admitted from the O.R. or went to the O.R. within 4 hours of admission? Yes,No
4,147307,Cardiovascular,"Endarterectomy, carotid",No,Elective Yes,Was the patient admitted from the O.R. or went to the O.R. within 4 hours of admission? Yes,No
...,...,...,...,...,...,...,...
2216,3351763,"Fistula/abscess, surgery for (not inflammatory bowel disease)",Gastrointestinal,No,Elective Yes,Was the patient admitted from the O.R. or went to the O.R. within 4 hours of admission? Yes,No
2217,3352230,4,"CABG alone, coronary artery bypass grafting",Cardiovascular,Elective Yes,Internal mammary artery graft? Yes,Pre-op MI during current hospitalization Yes
2218,3352231,Cardiovascular,"Infarction, acute myocardial (MI)",inferior,Thrombolytic Therapy received within 24 hours No,Was the patient admitted from the O.R. or went to the O.R. within 4 hours of admission? No,No
2219,3352333,GI obstruction,Gastrointestinal,No,Was the patient admitted from the O.R. or went to the O.R. within 4 hours of admission? No,No,No
2220,3353113,Drug withdrawal,Neurologic,No,Was the patient admitted from the O.R. or went to the O.R. within 4 hours of admission? No,No,No

In [674]:
dfs['admissionDx']

,patientunitstayid,admitdxenteredoffset,admitdxpath,admitdxname
0,2900423,162,admission diagnosis|Non-operative Organ Systems|Organ System|Cardiovascular,Cardiovascular
1,2900423,162,admission diagnosis|Was the patient admitted from the O.R. or went to the O.R. within 4 hours of admission?|No,No
2,2900423,162,"admission diagnosis|All Diagnosis|Non-operative|Diagnosis|Cardiovascular|Sepsis, pulmonary","Sepsis, pulmonary"
3,2902156,944,"admission diagnosis|All Diagnosis|Non-operative|Diagnosis|Cardiovascular|Rhythm disturbance (atrial, supraventricular)","Rhythm disturbance (atrial, supraventricular)"
4,2902156,944,admission diagnosis|Non-operative Organ Systems|Organ System|Cardiovascular,Cardiovascular
...,...,...,...,...
7573,2898513,50,"admission diagnosis|All Diagnosis|Non-operative|Diagnosis|Gastrointestinal|Encephalopathy, hepatic","Encephalopathy, hepatic"
7574,2899929,11,admission diagnosis|Was the patient admitted from the O.R. or went to the O.R. within 4 hours of admission?|Yes,Yes
7575,2899929,11,admission diagnosis|Elective|Yes,Yes
7576,2899929,11,"admission diagnosis|All Diagnosis|Operative|Diagnosis|Genitourinary|TURP, transurethral prostate resection for benign prostatic hypertrophy","TURP, transurethral prostate resection for benign prostatic hypertrophy"
7577,2899929,11,admission diagnosis|Operative Organ Systems|Organ System|Genitourinary,Genitourinary

<center><h2><b>allergy</b></h2></center>

In [675]:
dfs['allergy']

,patientunitstayid,allergyoffset,allergyenteredoffset,allergynotetype,specialtytype,usertype,rxincluded,writtenineicu,drugname,allergytype,allergyname,drughiclseqno
0,243097,2549,2552,Comprehensive Progress,eCM Primary,THC Nurse,True,True,NaN,Non Drug,penicillins,NaN
1,243097,1288,1294,Comprehensive Progress,eCM Primary,THC Nurse,True,True,CODEINE PHOSPHATE,Drug,CODEINE PHOSPHATE,1721.0
2,243097,2549,2552,Comprehensive Progress,eCM Primary,THC Nurse,True,True,CODEINE PHOSPHATE,Drug,CODEINE PHOSPHATE,1721.0
3,243097,21,28,Admission,eCM Primary,THC Nurse,True,True,NaN,Non Drug,penicillins,NaN
4,243097,3988,3989,Comprehensive Progress,eCM Primary,THC Nurse,True,True,CODEINE PHOSPHATE,Drug,CODEINE PHOSPHATE,1721.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2470,3351763,14,51,Admission,eCM Primary,THC Nurse,False,True,NaN,Non Drug,latex,NaN
2471,3351763,14,51,Admission,eCM Primary,THC Nurse,False,True,LEVAQUIN,Drug,LEVAQUIN,12383.0
2472,3353113,77,86,Admission,eCM Primary,THC Nurse,False,True,NaN,Non Drug,Contrast Dye,NaN
2473,3353113,77,86,Admission,eCM Primary,THC Nurse,False,True,PENICILLIN G BENZATHINE,Drug,PENICILLIN G BENZATHINE,3941.0
2474,3353113,77,86,Admission,eCM Primary,THC Nurse,False,True,LISINOPRIL,Drug,LISINOPRIL,132.0

In [676]:
dfs['allergy'] = dfs['allergy'].drop(columns=[
    'allergyoffset', # Preguntar
    'specialtytype', # Poca varianza 2453 – 22
    'drughiclseqno'
], axis=1)

In [677]:
pd.set_option('display.max_rows', 400)
pd.set_option('display.max_colwidth', None)
#sql_query('SELECT * FROM allergy GROUP BY drugname, allergytype').head(400)

dfs['allergy']['drugname'].isna().value_counts()

False    1480
True      995
Name: drugname, dtype: int64

<center><h2><b>apacheapsvar</b></h2></center>

<center><h2><b>apachepatientresult</b></h2></center>

<center><h2><b>Apachepredvar</b></h2></center>

<center><h2><b>careplancareprovider</b></h2></center>

<center><h2><b>Careplaneol</b></h2></center>

<center><h2><b>careplangeneral</b></h2></center>

<center><h2><b>careplangoal</b></h2></center>

<center><h2><b>careplaninfectiousdisease</b></h2></center>

<center><h2><b>customlab</b></h2></center>

<center><h2><b>diagnosis</b></h2></center>

<center><h2><b>hospital</b></h2></center>

<center><h2><b>Infusiondrug</b></h2></center>

<center><h2><b>intakeoutput</b></h2></center>

In [678]:
dfs['intakeOutput'] = dfs['intakeOutput'].drop(columns=[
    'intaketotal', # Computada en otra variable
    'outputtotal', # Computada en otra variable
    'cellpath', # Redundante en celltext
    'cellvaluetext' # dependiente de cellvaluenumeric
], axis=1)

In [679]:
dfs['intakeOutput']

,patientunitstayid,intakeoutputoffset,dialysistotal,nettotal,intakeoutputentryoffset,celllabel,cellvaluenumeric
0,147307,-394,0.0,0.00,-394,Bodyweight (lb),159.80
1,147307,-394,0.0,0.00,-394,Bodyweight (kg),72.50
2,211715,1533,0.0,120.00,1533,P.O.,120.00
3,219981,6504,0.0,120.00,6504,P.O.,120.00
4,158057,624,0.0,0.00,624,Bodyweight (lb),359.00
...,...,...,...,...,...,...,...
100461,3348409,1930,0.0,68.75,1930,Crystalloids,68.75
100462,3329305,1366,0.0,0.00,1366,Crystalloids,150.00
100463,3346866,2980,0.0,130.00,2980,P.O.,480.00
100464,3346866,2980,0.0,130.00,2980,Urine,350.00
100465,3352333,3360,0.0,1.00,3360,Crystalloids,1.00

<center><h2><b>lab</b></h2></center>

In [680]:
# TODO: Mirar relación entre labmeasurenamesystem y labmeasurenameinterface

dfs['lab'] = dfs['lab'].drop(columns=[
    'labtypeid', # Irrelevante
    'labname', # Irrelevante
    'labresulttext', # Redundante con labResult
    'labresultrevisedoffset' # Reundante con labresultoffset
], axis=1)

In [681]:
dfs['lab']

,patientunitstayid,labresultoffset,labresult,labmeasurenamesystem,labmeasurenameinterface
0,1754323,-647,38.30,%,%
1,1754323,-647,181.00,K/mcL,k/mm cu
2,1754323,-647,4.86,M/mcL,m/mm cu
3,1754323,-647,8.70,%,%
4,1754323,-647,30.40,g/dL,%
...,...,...,...,...,...
434655,2754778,2041,91.00,mg/dL,mg/dL
434656,2754778,37,5.92,ng/mL,ng/mL
434657,2754778,37,92.00,fL,fL
434658,2754778,236,119.00,mg/dL,mg/dL
434659,2754778,37,1.02,mg/dL,mg/dL

<center><h2><b>medication</b></h2></center>

In [682]:
dfs['medication']

,patientunitstayid,drugorderoffset,drugstartoffset,drugivadmixture,drugordercancelled,drugname,drughiclseqno,dosage,routeadmin,frequency,loadingdose,prn,drugstopoffset,gtc
0,141765,134,1396,No,No,WARFARIN SODIUM 5 MG PO TABS,2812.0,5 3,PO,NaN,NaN,No,2739,0
1,141765,1,-188,No,No,5 ML VIAL : DILTIAZEM HCL 25 MG/5ML IV SOLN,182.0,15 3,IV,Once PRN,NaN,Yes,171,38
2,141765,115,856,No,No,ASPIRIN EC 81 MG PO TBEC,1820.0,81 3,PO,Daily,NaN,No,2739,0
3,141765,114,316,No,No,DILTIAZEM HCL 30 MG PO TABS,182.0,30 3,PO,Q6H SCH,NaN,No,2739,0
4,141765,115,856,No,No,LISINOPRIL 5 MG PO TABS,132.0,5 3,PO,Daily,NaN,No,2428,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75599,3353113,3367,3789,No,Yes,NaN,6249.0,1 EACH,TRANSDERM,DAILY,NaN,No,0,97
75600,3353113,2,-55,No,No,NaN,20971.0,100 ML,INTRAVEN,DRIP,NaN,No,2721,83
75601,3353113,2,-2258,No,Yes,LORAZEPAM,4846.0,2-4 MG,INTRAVEN,NaN,NaN,Yes,0,83
75602,3353113,2,-86,No,Yes,NaN,23379.0,20 MG,INTRAMUSC,Q4HRSPRN,NaN,Yes,-65,80
75603,3353113,2,-2151,No,Yes,NaN,6249.0,1 EACH,TRANSDERM,DAILY,NaN,No,0,97

In [683]:
# TODO: Parsear dosage con drugname

dfs['medication'] = dfs['medication'].drop(columns=[
    'drugorderoffset', # Irrelevante
    'drugivadmixture', # No parece relevante
    'drugordercancelled', # Irrelevante
    'drugname', # Muy incompleta y redundante con drughiclseqno
    'loadingdose', # Mucho NULL
    'prn', # ? Redundante con frequency
    'gtc' # ? No parece que tenga relevancia
], axis=1)

<center><h2><b>microLab</b></h2></center>

In [684]:
# TODO ?

<center><h2><b>note</b></h2></center>

In [685]:
dfs['note'] = dfs['note'].drop(columns=[
    'noteenteredoffset', # Irrelevante
    'notetype', # No parece relevante
    'notevalue', # Parece tener información sobre notetext
], axis=1)

<center><h2><b>nurseAssessment</b></h2></center>

In [686]:
# TODO: ? Parece que hay múltiples assessments de diferentes enfermeras al mismo tiempo con diagnósticos diferentes.
# TODO: Unir celllabel	cellattribute	cellattributevalue
# TODO: Hacer algo con cellattributepath

dfs['nurseAssessment'] = dfs['nurseAssessment'].drop(columns=[
    'nurseassessentryoffset', # Irrelevante
], axis=1)

<center><h2><b>nurseCare</b></h2></center>

In [687]:
dfs['nurseCare'] = dfs['nurseCare'].drop(columns=[
    'nursecareentryoffset', # Irrelevante
    'celllabel' # cellattribute es más detallada
], axis=1)

<center><h2><b>nurseCharting</b></h2></center>

In [688]:
# Hacer algo con esta mierda

dfs['nurseCharting'] = dfs['nurseCharting'].drop(columns=[
    'nursingchartentryoffset' # Irrelevante
], axis=1)

<center><h2><b>pastHistory</b></h2></center>

In [689]:
dfs['pastHistory'] = dfs['pastHistory'].drop(columns=[
    'pasthistoryenteredoffset', # Irrelevante
    'pasthistoryvaluetext' # Igual que pasthistoryvalue
], axis=1)

<center><h2><b>patient</b></h2></center>

In [690]:
dfs['patient']

,patientunitstayid,patienthealthsystemstayid,gender,age,ethnicity,hospitalid,wardid,apacheadmissiondx,admissionheight,hospitaladmittime24,...,unitadmitsource,unitvisitnumber,unitstaytype,admissionweight,dischargeweight,unitdischargetime24,unitdischargeoffset,unitdischargelocation,unitdischargestatus,uniquepid
0,141764,129391,Female,87,Caucasian,59,91,NaN,157.5,23:36:00,...,ICU to SDU,2,stepdown/other,NaN,NaN,18:58:00,344,Home,Alive,002-1039
1,141765,129391,Female,87,Caucasian,59,91,"Rhythm disturbance (atrial, supraventricular)",157.5,23:36:00,...,Emergency Department,1,admit,46.5,45.0,13:14:00,2250,Step-Down Unit (SDU),Alive,002-1039
2,143870,131022,Male,76,Caucasian,68,103,"Endarterectomy, carotid",167.0,20:46:00,...,Operating Room,1,admit,77.5,79.4,10:00:00,793,Floor,Alive,002-12289
3,144815,131736,Female,34,Caucasian,56,82,"Overdose, other toxin, poison or drug",172.7,01:44:00,...,Emergency Department,1,admit,60.3,60.7,20:48:00,1121,Other External,Alive,002-1116
4,145427,132209,Male,61,Caucasian,68,103,"GI perforation/rupture, surgery for",177.8,23:48:00,...,Operating Room,1,admit,91.7,93.1,22:47:00,1369,Floor,Alive,002-12243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,3351763,2741766,Female,62,Caucasian,459,1108,"Fistula/abscess, surgery for (not inflammatory bowel disease)",165.1,16:08:00,...,Operating Room,1,admit,134.5,133.3,19:24:00,5394,Step-Down Unit (SDU),Alive,035-10391
2516,3352230,2742186,Male,41,African American,458,1107,"CABG alone, coronary artery bypass grafting",177.8,21:21:00,...,Operating Room,2,transfer,127.0,128.5,21:34:00,4261,Telemetry,Alive,035-10089
2517,3352231,2742186,Male,41,African American,458,1104,"Infarction, acute myocardial (MI)",177.8,21:21:00,...,Direct Admit,1,admit,127.0,135.2,22:26:00,1369,Other ICU,Alive,035-10089
2518,3352333,2742269,Male,72,Caucasian,458,1111,GI obstruction,177.8,20:00:00,...,Other Hospital,1,admit,68.3,66.5,17:26:00,4166,Floor,Alive,035-10041
2519,3353113,2742979,Male,50,Caucasian,459,1108,Drug withdrawal,188.0,17:33:00,...,Floor,1,admit,88.0,83.9,18:45:00,2694,Telemetry,Alive,035-10030

In [691]:
import math

def clean_age(row):
    age = row['age']
    
    if age == '':
        return 50 # TODO: Median
    elif age == '> 89':
        return 100
    elif math.isnan(float(age)):
        return 50 # ""
    else:
        return int(age)

In [692]:
#Sepsis, pulmonary              -> 121                                                                                                                                                                    121
#Diabetic ketoacidosis          -> 105                                                                                                                                                                 105
#CHF, congestive heart failure  -> 102   

def randomApache():
    num = random.randint(1, 3)
    
    if(num == 1): 
        return 'CHF, congestive heart failure'
    
    elif (num == 2): 
        return 'Diabetic ketoacidosis'
    
    else: return 'Sepsis, pulmonary'
     
def clean_apacheadmissiondx(row):
    apache = row['apacheadmissiondx']
    
    if apache != apache:
        return randomApache() # ""
    else:
        return apache

In [693]:
# 177.80    151
# 172.70    146
# 167.60    133
# 165.10    127                                                                                                                                                                  121
                                                                                                                                                    
def randomAdmissionheight():
    num = random.randint(1, 4)
    
    if(num == 1): 
        return 177.80
    
    elif (num == 2): 
        return 172.70
    
    elif (num == 3): 
        return 167.60
    
    else: return 165.10
     
def clean_admissionheight(row):
    admissionheight = row['admissionheight']
    
    if math.isnan(float(admissionheight)):
        return randomAdmissionheight() # ""
    else:
        return admissionheight

In [694]:
# Random
def clean_gender(row):
    gender = row['gender']
    
    if gender != gender:
        if random.randint(1, 2) % 2 == 0: return 'Male'
        else: return 'Famale'
    else:
        return gender

In [695]:
# Caucasian
def clean_ethnicity(row):
    ethnicity = row['ethnicity']
    
    if ethnicity != ethnicity:
        return 'Caucasian'
    else:
        return ethnicity

In [696]:
# Emergency Department
def clean_hospitaladmitsource(row):
    hospitalAdmit = row['hospitaladmitsource']
    
    if hospitalAdmit != hospitalAdmit:
        return 'Emergency Department' # ""
    else:
        return hospitalAdmit

In [697]:
def clean_admissionweight(row, df):
    admissionweight = row['admissionweight']
    
    if math.isnan(float(admissionweight)):
        return  df[df['age']==row['age']]['admissionweight'].median()
    else:
        return admissionweight

In [698]:
# TODO: Feature idea - BMI
# TODO: ? Cual es más importante, unitDischargeOffset u hospitalDischargeOffset  

# Drop
dfs['patient'] = dfs['patient'].drop(columns=[
    'wardid', # ? Tiene pinta de que no va a ser muy importante
    'patienthealthsystemstayid', # Irrelevante
    'hospitaldischargeyear', # Irrelevante. Solo hay datos de los años 2014 y 2015
    'hospitaladmittime24', # Drop a priori. No parece importante
    'hospitaldischargetime24', # Drop a priori. No parece importante
    'hospitaldischargelocation', # No parece muy relevante
    'unittype', # Parece que ya está presente en otras partes
    'unitadmittime24', # No parece muy relevante
    'unitadmitsource', # ?
    'unitstaytype', # No parece muy relevante
    'dischargeweight', # No parece que sea muy relevante el peso cuando esté muerto
    'unitdischargetime24', # Irrelevante
    'unitdischargelocation', # Irrelevante
    'hospitaldischargestatus', # Irrelevante
    'unitdischargestatus',
    'uniquepid'
], axis=1)

# Eliminar NaN TODO
#dfs['patient'] = dfs['patient'].dropna()

# Age
dfs['patient']['age']                 = dfs['patient'].apply(clean_age, axis=1)

# Apacheadmissiondx
dfs['patient']['apacheadmissiondx']   = dfs['patient'].apply(clean_apacheadmissiondx, axis=1)

# Hospitaladmitsource
dfs['patient']['hospitaladmitsource'] = dfs['patient'].apply(clean_hospitaladmitsource, axis=1)

# Gender
dfs['patient']['gender']              = dfs['patient'].apply(clean_gender, axis=1)

# ethnicity
dfs['patient']['ethnicity']           = dfs['patient'].apply(clean_ethnicity, axis=1)

# admissionheight
dfs['patient']['admissionheight']     = dfs['patient'].apply(clean_admissionheight, axis=1)

# admissionweight -> OUTLAYERS TODO:
dfs['patient']['admissionweight']     = dfs['patient'].apply(lambda row : clean_admissionweight(row, dfs['patient']), axis=1)

In [699]:
import sqlite3
import random

# Emergency Department
# print (dfs['patient']['hospitaladmitsource'].value_counts())

print (dfs['patient']['admissionweight'].value_counts())

74.80     25
90.70     23
81.60     22
79.40     22
59.00     22
          ..
57.66      1
52.16      1
170.64     1
73.30      1
92.30      1
Name: admissionweight, Length: 915, dtype: int64

<center><h2><b>physicalExam</b></h2></center>

In [700]:
# TODO: Darle una limpieza fuerte

dfs['physicalExam'] = dfs['physicalExam'].drop(columns=[
    'physicalexamoffset', # Irrelevante
], axis=1)

<center><h2><b>respiratoryCare</b></h2></center>

In [701]:
dfs['respiratoryCare'] = dfs['respiratoryCare'].drop(columns=[
    'airwaysize', 'airwayposition', 'cuffpressure', 'apneaparams', 'lowexhmvlimit', 'hiexhmvlimit', 'lowexhtvlimit', 'hipeakpreslimit', 'lowpeakpreslimit',
    'hirespratelimit', 'lowrespratelimit', 'sighpreslimit', 'lowironoxlimit', 'highironoxlimit', 'meanairwaypreslimit', 'peeplimit', 'cpaplimit',
    'setapneainterval', 'setapneatv', 'setapneaippeephigh', 'setapnearr', 'setapneapeakflow', 'setapneainsptime', 'setapneaie', 'setapneafio2'
], axis=1)

<center><h2><b>respiratoryCharting</b></h2></center>

In [702]:
# TODO: ?

dfs['respiratoryCharting'] = dfs['respiratoryCharting'].drop(columns=[
    'respchartentryoffset' # Irrelevante
], axis=1)

<center><h2><b>treatment</b></h2></center>

In [703]:
# TODO: ?

dfs['treatment'] = dfs['treatment'].drop(columns=[
    'activeupondischarge', # Irrelevante    
], axis=1)

<center><h2><b>vitalAperiodic</b></h2></center>

In [704]:
# TODO

dfs['vitalAperiodic'] = dfs['vitalAperiodic'].drop(columns=[
], axis=1)

<center><h2><b>vitalPeriodic</b></h2></center>

In [705]:
# TODO

dfs['vitalPeriodic'] = dfs['vitalPeriodic'].drop(columns=[
], axis=1)

---

<center><h2><b>Exportar a CSV</b></h2></center>

In [706]:
for df_name in dfs:
    dfs[df_name].to_csv('../db/csv_clean/' + df_name + '.csv', index=False)

In [707]:
for df_name in dfs:
    print(df_name + '\n')
    dfs[df_name].info()
    print()

admissiondrug

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7417 entries, 0 to 7416
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   patientunitstayid   7417 non-null   int64
 1   drugoffset          7417 non-null   int64
 2   drugenteredoffset   7417 non-null   int64
 3   drugnotetype        7417 non-null   object
 4   specialtytype       7417 non-null   object
 5   usertype            7417 non-null   object
 6   rxincluded          7417 non-null   bool
 7   writtenineicu       7417 non-null   bool
 8   drugname            7417 non-null   object
 9   drugdosage          7417 non-null   float64
 10  drugunit            7417 non-null   object
 11  drugadmitfrequency  7417 non-null   object
 12  drughiclseqno       7417 non-null   int64
dtypes: bool(2), float64(1), int64(4), object(6)
memory usage: 652.0+ KB

admissionDx

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7578 entries, 0 to 7577
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patientunitstayid     7578 non-null   int64
 1   admitdxenteredoffset  7578 non-null   int64
 2   admitdxpath           7578 non-null   object
 3   admitdxname           7578 non-null   object
dtypes: int64(2), object(2)
memory usage: 236.9+ KB

allergy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2475 entries, 0 to 2474
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patientunitstayid     2475 non-null   int64
 1   allergyenteredoffset  2475 non-null   int64
 2   allergynotetype       2475 non-null   object
 3   usertype              2475 non-null   object
 4   rxincluded            2475 non-null   bool
 5   writtenineicu         2475 non-null   bool
 6   drugname              1480 non-null   object
 7   allergytype           2475 non-null   object
 8   allergyname           2475 non-null   object
dtypes: bool(2), int64(2), object(5)
memory usage: 140.3+ KB

apacheApsVar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  2205 non-null   int64
 1   intubated          2205 non-null   int64
 2   vent               2205 non-null   int64
 3   dialysis           2205 non-null   int64
 4   eyes               2205 non-null   int64
 5   motor              2205 non-null   int64
 6   verbal             2205 non-null   int64
 7   meds               2205 non-null   int64
 8   urine              2205 non-null   float64
 9   wbc                2205 non-null   float64
 10  temperature        2205 non-null   float64
 11  respiratoryrate    2205 non-null   int64
 12  sodium             2205 non-null   float64
 13  heartrate          2205 non-null   int64
 14  meanbp             2205 non-null   int64
 15  ph                 2205 non-null   float64
 16  hematocrit         2205 non-null   float64
 17  creatinine         2205 non-null   float64
 18  albumin            2205 non-null   float64
 19  pao2               2205 non-null   float64
 20  pco2               2205 non-null   float64
 21  bun                2205 non-null   float64
 22  glucose            2205 non-null   int64
 23  bilirubin          2205 non-null   float64
 24  fio2               2205 non-null   int64
dtypes: float64(12), int64(13)
memory usage: 430.8 KB

apachePatientResult

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3676 entries, 0 to 3675
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   patientunitstayid              3676 non-null   int64
 1   physicianspeciality            3676 non-null   object
 2   physicianinterventioncategory  3676 non-null   object
 3   acutephysiologyscore           3676 non-null   int64
 4   apachescore                    3676 non-null   int64
 5   apacheversion                  3676 non-null   object
 6   predictedicumortality          3676 non-null   float64
 7   actualicumortality             3676 non-null   object
 8   predictediculos                3676 non-null   float64
 9   actualiculos                   3676 non-null   float64
 10  predictedhospitalmortality     3676 non-null   float64
 11  actualhospitalmortality        3676 non-null   object
 12  predictedhospitallos           3676 non-null   float64
 13  actualhospitallos              3676 non-null   float64
 14  preopmi                        3676 non-null   int64
 15  preopcardiaccath               3676 non-null   int64
 16  ptcawithin24h                  3676 non-null   int64
 17  unabridgedunitlos              3676 non-null   float64
 18  unabridgedhosplos              3676 non-null   float64
 19  actualventdays                 1042 non-null   float64
 20  predventdays                   1004 non-null   float64
 21  unabridgedactualventdays       1042 non-null   float64
dtypes: float64(11), int64(6), object(5)
memory usage: 631.9+ KB

apachePredVar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 50 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  2205 non-null   int64
 1   sicuday            2205 non-null   int64
 2   saps3day1          2205 non-null   int64
 3   saps3today         2205 non-null   int64
 4   saps3yesterday     2205 non-null   int64
 5   gender             2205 non-null   int64
 6   teachtype          2205 non-null   int64
 7   region             2205 non-null   int64
 8   bedcount           2205 non-null   int64
 9   admitsource        2205 non-null   int64
 10  graftcount         2205 non-null   int64
 11  meds               2205 non-null   int64
 12  verbal             2205 non-null   int64
 13  motor              2205 non-null   int64
 14  eyes               2205 non-null   int64
 15  age                2122 non-null   float64
 16  admitdiagnosis     2131 non-null   object
 17  thrombolytics      2205 non-null   int64
 18  diedinhospital     2205 non-null   int64
 19  aids               2205 non-null   int64
 20  hepaticfailure     2205 non-null   int64
 21  lymphoma           2205 non-null   int64
 22  metastaticcancer   2205 non-null   int64
 23  leukemia           2205 non-null   int64
 24  immunosuppression  2205 non-null   int64
 25  cirrhosis          2205 non-null   int64
 26  electivesurgery    342 non-null    float64
 27  activetx           2205 non-null   int64
 28  readmit            2205 non-null   int64
 29  ima                2205 non-null   int64
 30  midur              2205 non-null   int64
 31  ventday1           2205 non-null   int64
 32  oobventday1        2205 non-null   int64
 33  oobintubday1       2205 non-null   int64
 34  diabetes           2205 non-null   int64
 35  managementsystem   2205 non-null   int64
 36  var03hspxlos       2205 non-null   int64
 37  pao2               2205 non-null   float64
 38  fio2               2205 non-null   int64
 39  ejectfx            2205 non-null   int64
 40  creatinine         2205 non-null   float64
 41  dischargelocation  2205 non-null   int64
 42  visitnumber        2205 non-null   int64
 43  amilocation        2205 non-null   int64
 44  day1meds           2205 non-null   int64
 45  day1verbal         2205 non-null   int64
 46  day1motor          2205 non-null   int64
 47  day1eyes           2205 non-null   int64
 48  day1pao2           2205 non-null   float64
 49  day1fio2           2205 non-null   int64
dtypes: float64(5), int64(44), object(1)
memory usage: 861.5+ KB

carePlanCareProvider

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5627 entries, 0 to 5626
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   patientunitstayid       5627 non-null   int64
 1   careprovidersaveoffset  5627 non-null   int64
 2   providertype            0 non-null      float64
 3   specialty               5089 non-null   object
 4   interventioncategory    4224 non-null   object
 5   managingphysician       5627 non-null   object
 6   activeupondischarge     5627 non-null   bool
dtypes: bool(1), float64(1), int64(2), object(3)
memory usage: 269.4+ KB

carePlanEOL

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   patientunitstayid       15 non-null     int64
 1   cpleolsaveoffset        15 non-null     int64
 2   cpleoldiscussionoffset  15 non-null     int64
 3   activeupondischarge     15 non-null     bool
dtypes: bool(1), int64(3)
memory usage: 503.0 bytes

carePlanGeneral

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33148 entries, 0 to 33147
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   patientunitstayid    33148 non-null  int64
 1   activeupondischarge  33148 non-null  bool
 2   cplitemoffset        33148 non-null  int64
 3   cplgroup             33148 non-null  object
 4   cplitemvalue         32134 non-null  object
dtypes: bool(1), int64(2), object(2)
memory usage: 1.0+ MB

carePlanGoal

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3633 entries, 0 to 3632
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   patientunitstayid    3633 non-null   int64
 1   cplgoaloffset        3633 non-null   int64
 2   cplgoalcategory      3633 non-null   object
 3   cplgoalvalue         2128 non-null   object
 4   cplgoalstatus        3633 non-null   object
 5   activeupondischarge  3633 non-null   bool
dtypes: bool(1), int64(2), object(3)
memory usage: 145.6+ KB

carePlanInfectiousDisease

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   patientunitstayid        112 non-null    int64
 1   activeupondischarge      112 non-null    bool
 2   cplinfectdiseaseoffset   112 non-null    int64
 3   infectdiseasesite        112 non-null    object
 4   infectdiseaseassessment  112 non-null    object
 5   responsetotherapy        2 non-null      object
 6   treatment                62 non-null     object
dtypes: bool(1), int64(2), object(4)
memory usage: 5.5+ KB

customLab

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  30 non-null     int64
 1   labotheroffset     30 non-null     int64
 2   labothertypeid     30 non-null     int64
 3   labothername       30 non-null     object
 4   labotherresult     18 non-null     float64
 5   labothervaluetext  30 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 1.5+ KB

diagnosis

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24978 entries, 0 to 24977
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   patientunitstayid    24978 non-null  int64
 1   activeupondischarge  24978 non-null  bool
 2   diagnosisoffset      24978 non-null  int64
 3   diagnosisstring      24978 non-null  object
 4   icd9code             21206 non-null  object
 5   diagnosispriority    24978 non-null  object
dtypes: bool(1), int64(2), object(3)
memory usage: 1000.2+ KB

hospital

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   hospitalid       186 non-null    int64
 1   numbedscategory  158 non-null    object
 2   teachingstatus   186 non-null    object
 3   region           168 non-null    object
dtypes: int64(1), object(3)
memory usage: 5.9+ KB

infusiondrug

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38256 entries, 0 to 38255
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  38256 non-null  int64
 1   infusionoffset     38256 non-null  int64
 2   drugname           38256 non-null  object
 3   drugrate           38155 non-null  object
 4   infusionrate       16779 non-null  float64
 5   drugamount         13813 non-null  float64
 6   volumeoffluid      14108 non-null  float64
 7   patientweight      4036 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 2.3+ MB

intakeOutput

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100466 entries, 0 to 100465
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   patientunitstayid        100466 non-null  int64
 1   intakeoutputoffset       100466 non-null  int64
 2   dialysistotal            100466 non-null  float64
 3   nettotal                 100466 non-null  float64
 4   intakeoutputentryoffset  100466 non-null  int64
 5   celllabel                100466 non-null  object
 6   cellvaluenumeric         100466 non-null  float64
dtypes: float64(3), int64(3), object(1)
memory usage: 5.4+ MB

lab

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434660 entries, 0 to 434659
Data columns (total 5 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   patientunitstayid        434660 non-null  int64
 1   labresultoffset          434660 non-null  int64
 2   labresult                431939 non-null  float64
 3   labmeasurenamesystem     415754 non-null  object
 4   labmeasurenameinterface  415763 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 16.6+ MB

medication

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75604 entries, 0 to 75603
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  75604 non-null  int64
 1   drugstartoffset    75604 non-null  int64
 2   drughiclseqno      71163 non-null  float64
 3   dosage             66299 non-null  object
 4   routeadmin         75554 non-null  object
 5   frequency          63824 non-null  object
 6   drugstopoffset     75604 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 4.0+ MB

microLab

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   patientunitstayid   342 non-null    int64
 1   culturetakenoffset  342 non-null    int64
 2   culturesite         342 non-null    object
 3   organism            342 non-null    object
 4   antibiotic          139 non-null    object
 5   sensitivitylevel    136 non-null    object
dtypes: int64(2), object(4)
memory usage: 16.2+ KB

note

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24758 entries, 0 to 24757
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  24758 non-null  int64
 1   noteoffset         24758 non-null  int64
 2   notepath           24758 non-null  object
 3   notetext           24526 non-null  object
dtypes: int64(2), object(2)
memory usage: 773.8+ KB

nurseAssessment

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91589 entries, 0 to 91588
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   patientunitstayid   91589 non-null  int64
 1   nurseassessoffset   91589 non-null  int64
 2   cellattributepath   91589 non-null  object
 3   celllabel           91589 non-null  object
 4   cellattribute       91589 non-null  object
 5   cellattributevalue  90334 non-null  object
dtypes: int64(2), object(4)
memory usage: 4.2+ MB

nurseCare

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42080 entries, 0 to 42079
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   patientunitstayid   42080 non-null  int64
 1   nursecareoffset     42080 non-null  int64
 2   cellattributepath   42080 non-null  object
 3   cellattribute       42080 non-null  object
 4   cellattributevalue  42080 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.6+ MB

nurseCharting

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1477163 entries, 0 to 1477162
Data columns (total 6 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   patientunitstayid             1477163 non-null  int64
 1   nursingchartoffset            1477163 non-null  int64
 2   nursingchartcelltypecat       1477163 non-null  object
 3   nursingchartcelltypevallabel  1477163 non-null  object
 4   nursingchartcelltypevalname   1477163 non-null  object
 5   nursingchartvalue             1474513 non-null  object
dtypes: int64(2), object(4)
memory usage: 67.6+ MB

pastHistory

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12109 entries, 0 to 12108
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   patientunitstayid    12109 non-null  int64
 1   pasthistoryoffset    12109 non-null  int64
 2   pasthistorynotetype  12109 non-null  object
 3   pasthistorypath      12109 non-null  object
 4   pasthistoryvalue     12109 non-null  object
dtypes: int64(2), object(3)
memory usage: 473.1+ KB

patient

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   patientunitstayid        2520 non-null   int64
 1   gender                   2520 non-null   object
 2   age                      2520 non-null   int64
 3   ethnicity                2520 non-null   object
 4   hospitalid               2520 non-null   int64
 5   apacheadmissiondx        2520 non-null   object
 6   admissionheight          2520 non-null   float64
 7   hospitaladmitoffset      2520 non-null   int64
 8   hospitaladmitsource      2520 non-null   object
 9   hospitaldischargeoffset  2520 non-null   int64
 10  unitvisitnumber          2520 non-null   int64
 11  admissionweight          2520 non-null   float64
 12  unitdischargeoffset      2520 non-null   int64
dtypes: float64(2), int64(7), object(4)
memory usage: 256.1+ KB

physicalExam

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84058 entries, 0 to 84057
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  84058 non-null  int64
 1   physicalexampath   84058 non-null  object
 2   physicalexamvalue  84058 non-null  object
 3   physicalexamtext   83446 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.6+ MB

respiratoryCare

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5436 entries, 0 to 5435
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patientunitstayid     5436 non-null   int64
 1   respcarestatusoffset  5436 non-null   int64
 2   currenthistoryseqnum  5436 non-null   int64
 3   airwaytype            794 non-null    object
 4   ventstartoffset       5436 non-null   int64
 5   ventendoffset         5436 non-null   int64
 6   priorventstartoffset  5436 non-null   int64
 7   priorventendoffset    5436 non-null   int64
dtypes: int64(7), object(1)
memory usage: 339.9+ KB

respiratoryCharting
